// SECTION peak statistics :: START

#d-statistic.d-statistics

  .uk-section.uk-padding-remove-top.uk-padding-remove-bottom.uk-margin-xlarge-bottom
    .uk-card.uk-card-default.uk-box-shadow-small
      .uk-card-header.uk-flex.uk-flex-middle.uk-flex-between
        .uk-width-1-2.uk-flex.uk-flex-middle.uk-grid-divider(uk-grid)
          h2.uk-margin-remove-bottom.uk-card-title.uk-text-bold!= "Peak Statistics"
          h3.uk-margin-remove-bottom.uk-card-title.uk-text-bold.uk-text-muted!= "Top Users"

        .uk-width-1-2.uk-flex.uk-flex-right.uk-flex-middle
          a.uk-button.uk-button-link(href="#" class="" title="")
            span.uk-text-muted(uk-icon='minus')
          a.uk-button.uk-button-link.uk-margin-small-left(href="#" class="" title="")
            span.uk-text-muted(uk-icon='close')

      .uk-card-body

        div.uk-margin-medium-bottom

        div.uk-flex.uk-flex-middle.uk-flex-right
          a(href="" class="uk-icon-link" uk-icon="question")



// SECTION peak statistics :: END