// COMMON :: START

section {
  &.login {
    .uk-input {
      @include fluid(margin-bottom, 320px, 767px, 30px, 42px);
    }
    .uk-button {
      width: 100%;
      height: 60px;
      margin-top: 27px;
      border-radius: 10px;
      border-style: solid;
      border-width: 1px;
      border-color: rgb(218, 216, 216);
      color: #ffffff;
      text-transform: uppercase;
      @include fluid(margin-top, 320px, 767px, 0, 27px);
      @include fluid(font-size, 320px, 767px, 24px, 30px);
    }
  }

  .uk-input {
    height: 49px;
    padding: 0 22px;
    border-radius: 10px;
    border: 2px solid rgb(218, 216, 216);
    @include fluid(font-size, 320px, 767px, 20px, 24px);
    @include inputPlaceholder {
      color: #a7a3a3;
      @include fluid(font-size, 320px, 767px, 20px, 24px);
    }
  }

  .uk-button {
    background-color: rgb(0, 166, 217);
    @include transition(background-color);

    &:hover {
      background-color: #026b8b;
      @include transition(background-color);
    }
  }
}

.uk-section {
  > .uk-card {
    border-radius: 5px;
  }
}

// COMMON :: END