// SECTION all tickets :: START

.all-tickets {
  button {
    width: 100%;
    max-width: 187px;
    height: 49px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 5px;
    background-color: #00a6d9;
    font-size: 20px;

    span {
      line-height: 1;
    }
  }
}

// SECTION all tickets :: END