// SECTION demand content  :: START

.d-demand {
  .uk-card.uk-card-default {
    .uk-card {
      &-footer {
        padding-bottom: 20px;
        border-color: transparent;

        a {
          svg {
            width: 23px;
            height: 23px;
          }
        }
      }
    }
  }

  &__top {
    form {
      [uk-grid] {
        .uk-width-auto {
          .uk-card {
            width: 100%;
          }
          &:nth-of-type(2) {
            button {
              border-color: #00a6d9;
              background-color: #00a6d9;
              color: #ffffff;
              @include transition(border-color, background-color);
            }

            select {
              height: 100%;

              &:hover {
                & + button {
                  border-color: #026b8b;
                  background-color: #026b8b;
                  @include transition(border-color, background-color);
                }
              }
            }
          }
        }

        .uk-card {
          > div {
            width: 100%;

            > div {
              width: 100%;

              select {
                width: 100%;
                height: 100%;
              }

              button {
                width: 100%;
                height: 49px;
                padding: 0 20px;
                border-radius: 10px;
                font-size: 20px;
              }
            }

            &:nth-of-type(1) {
              max-width: 264px;
            }
            &:nth-of-type(2) {
              max-width: 162px;
            }
            &:nth-of-type(3) {
              max-width: 176px;
            }
          }
        }
      }
    }
  }

  &__bottom {
    > div {
      &:nth-of-type(1) {
        padding: 40px 40px 20px;

        p {
          font-size: 20px;

          span {
            width: 12px;
            height: 12px;
            background-color: #00a6d9;
          }
        }
      }

      &:nth-of-type(2) {
        padding: 20px 40px 0;

        > p {
          font-size: 20px;
        }
      }

      &:nth-of-type(3) {}

      [uk-tab] {
        border-radius: 10px;
        border: 1px solid #dad8d8;

        &:before {
          display: none;
        }

        li {
          &:last-child {
            a {
              border-right: none;
            }
          }
          &.uk-active {
            a {
              color: #00a6d9;
            }
          }

          a {
            width: 82px;
            padding-top: 10px !important;
            padding-bottom: 10px !important;
            border-color: transparent;
            border-right: 1px solid #dad8d8;
            font-size: 20px;
          }
        }
      }
    }
  }

  &__graph {
    padding-bottom: 20px;
  }
}

// SECTION demand content  :: END