// SECTION live feed & check :: START

.d-feed {
  [uk-grid] {
    .uk-width {
      &-auto {
        width: 415px;

        p {
          font-size: 20px;
        }

        .uk-card-body {
          > [uk-grid] {
            &:nth-of-type(2) {
              > div {
                background-color: #eeeeee;
                border-left: 3px solid #00a6d9;
                border-top: 1px solid #e6e1e1;

                &:last-of-type {
                  border-bottom: 1px solid #e6e1e1;
                }
              }
            }

            [uk-icon='warning'] {
              color: #f76808;
            }
          }
        }
      }
    }
  }
}

// SECTION live feed & check :: END