// SECTION live feed & check :: START

.d-feed {
  [uk-grid] {
    .uk-width {
      &-auto {
        width: 415px;

        .uk-card-header {
          padding-left: 10px;
        }

        p {
          font-size: 20px;
        }

        .icon-warning {
          color: #f76808;
          font-size: 18px;
        }

        .uk-card-body {
          > [uk-grid] {
            &:nth-of-type(2) {
              > div {
                background-color: #eeeeee;
                border-left: 3px solid #00a6d9;
                border-top: 2px solid #e6e1e1;

                &:last-of-type {
                  border-bottom: 2px solid #e6e1e1;
                }
              }
            }

            [uk-icon='warning'] {
              color: #f76808;
            }
          }
        }
      }
    }
  }

  .uk-subnav {
    margin-left: 0;
    border-bottom: 1px solid #e6e1e1;

    li {
      padding-left: 0;

      &.uk-active {
        a {
          background-color: transparent;
          color: #00a6d9;
        }
      }

      a {
        padding-left: 40px;
        padding-right: 40px;
        border-right: 1px solid #e6e1e1;
        font-size: 20px;
      }
    }
  }

  .uk-badge {
    width: 27px;
    height: 27px;
    font-size: 18px;
    background-color: #00a6d9;

    &--small {
      min-width: 19px;
      width: 19px;
      height: 19px;
    }
  }
}

// SECTION live feed & check :: END