// SECTION report tabs :: START

// main tabs
.r-tabs {
  [uk-tab] {
    &:before {
      border-width: 2px;
      border-color: #e6e1e1;
    }

    li {
      &.uk-active {
        a {
          border-width: 7px;
          border-color: #00a6d9;
        }
      }
    }

    a {
      font-size: 24px;
      padding: 0;
      padding-bottom: 40px;
    }
  }
}
// main tabs :: end

// virtual class activity
.r-virtualClass {
  .uk {
    &-card {
      border-left: 6px solid #6d6a67;

      &:hover {
        text-decoration: none;
      }

      p {
        color: #ffffff;
        font-size: 18px;
      }

      svg {
        fill: #fff;

        rect {
          stroke: #fff !important;
        }
      }
    }

    &-background-primary {
      background-color: #00a6d9;
    }
  }
}
// virtual class activity :: end

// SECTION report tabs :: END