// SECTION peak statistics :: START

.d-statistics {
  .uk-card-body {
    .uk-width {
      &-auto {
        .uk-card {
          width: 383px;
          background-color: #00a6d9;
          color: #ffffff;

          h2,
          p,
          button {
            color: #ffffff;
          }

          h2 {
            font-size: 48px;
          }
        }
      }

      &-expand {
        .uk-card {
          height: 100%;
          border-left: 6px solid #00a6d9;
          background-color: #ececec;

          > div {
            &:nth-of-type(3) {
              p {
                color: #4e4e4e;
                font-size: 20px;
              }

              span {
                color: #a7a3a3;
                font-size: 16px;
              }
            }
          }

          h2 {
            font-size: 48px;

            span {
              color: #f7a209;
            }
            svg {
              transform: scale(2);
            }
          }
        }

        [uk-grid] {
          > div {
            &:nth-of-type(1),
            &:nth-of-type(3) {
              background-repeat: no-repeat;
              background-position: bottom center;
              background-size: contain;
            }

            &:nth-of-type(1) {
              .uk-card {
                background-image: url('../img/img-graph-0.png');
              }
            }
            &:nth-of-type(3) {
              .uk-card {
                background-image: url('../img/img-graph-1.png');
              }
            }
          }
        }
      }
    }
  }
}

// SECTION peak statistics :: END