// SECTION find tickets :: START

%btnStyle {
  width: 100%;
  height: 49px;
  padding: 0 20px;
  border-radius: 5px;
  font-size: 20px;
}

.tickets-find {
  .uk-search-large {
    svg {
      width: 29px;
      height: 29px;
    }
    input {
      height: auto;
      font-size: 18px;
    }
  }

  .uk-form-controls {
    > div {
      width: 100%;
    }
  }

  button {
    @extend %btnStyle;
  }

  .uk-button-apply {
    background-color: #9b9b9b;
    color: #ffffff;
  }
}

// SECTION find tickets :: END