// SECTION login :: START

.login {
  position: relative;
  width: 100%;
  padding: 50px 15px;

  &__box {
    min-height: calc(100vh - 100px);
    text-align: center;
    font-size: 0;

    &:after {
      @include respond(medium) {
        content: '';
        display: inline-block;
        vertical-align: middle;
        min-height: calc(100vh - 100px);
      }
    }

    &-wrapper {
      display: inline-block;
      text-align: left;
      vertical-align: middle;
      width: 100%;
      max-width: 1087px;
    }
  }

  &__body {
    display: flex;
    align-items: center;
    position: relative;
    height: 811px;
    @include adaptive(767) {
      height: auto;
      flex-wrap: wrap;
      padding-bottom: 30px;
    }

    &:before {
      content: '';
      z-index: 0;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      height: calc(100% - 120px);
      background-color: #4e4e4e;
      @include adaptive(767) {
        top: 0;
        height: 100%;
      }
    }

    &-left ,
    &-right {
      z-index: 2;
      position: relative;
      height: 100%;

      p,
      h1 {
        margin: 0;
      }
    }

    &-left {
      padding-top: 60px;
      padding-bottom: 90px;
      padding-left: 103px;
      width: 509px;
      @include adaptive(991) {
        padding-left: 30px;
        width: 350px;
      }
      @include adaptive(767) {
        width: 100%;
        padding: 0 15px;

        .logo,
        .login__site {
          display: none;
        }
      }
    }

    &-right {
      width: 100%;
      max-width: calc(100% - 509px);
      @include adaptive(991) {
        max-width: calc(100% - 350px);
      }
      @include adaptive(767) {
        max-width: 100%;
      }

      .logo,
      .login__site {
        display: none;
        @include adaptive(767) {
          display: block;
        }
      }
    }
  }

  &__title,
  &__text,
  &__site {
    @include adaptive(767) {
      text-align: center;
    }
  }

  &__title {
    color: #fff;
    line-height: line-height-convert(53,48);
    @include fluid(padding-top, 320px, 767px, 50px, 119px);
    @include fluid(padding-bottom, 320px, 767px, 30px, 47px);
    @include fluid(font-size, 320px, 767px, 38px, 48px);
  }

  &__text {
    color: #00a6d9;
    line-height: line-height-convert(30, 24);
    @include fluid(padding-bottom, 320px, 767px, 30px, 55px);
    @include fluid(font-size, 320px, 767px, 20px, 24px);
  }

  .logo {
    @include fluid(margin-bottom, 320px, 767px, 30px, 118px);
    @include adaptive(767) {
      &__link {
        justify-content: center;
      }
    }
  }

  &__site {
    color: #ffffff;
    @include transition(color);
    @include fluid(font-size, 320px, 767px, 20px, 24px);

    &:hover {
      color: #00a6d9;
      text-decoration: none;
      @include transition(color);
    }
  }

  &__block {
    width: 100%;
    max-width: 476px;
    height: 811px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    @include adaptive(767) {
      height: auto;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
    }

    &-head {
      height: calc(100% - 96px);
      padding: 144px 55px 0;
      @include fluid(padding-top, 320px, 767px, 50px, 144px);
      @include adaptive(767) {
        padding-bottom: 50px;
      }
      @include adaptive(575) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    &-footer {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 96px;
      padding: 0 55px 0;
      background-color: #ececec;
    }

    &-title {
      color: #00a6d9;
      text-align: center;
      @include fluid(padding-bottom, 320px, 767px, 50px, 143px);
      @include fluid(font-size, 320px, 767px, 24px, 30px);
    }

    &-link {
      color: #00a6d9;
      @include transition(color);
      @include fluid(font-size, 320px, 767px, 20px, 24px);
      @include transition(color);

      &:hover {
        color: #026b8b;
        text-decoration: none;
        @include transition(color);
      }
    }
  }
}

// SECTION login :: END