---
title: CoSo Insights Portal - Dashboard New Ticket

pageClassName: p-dashboard p-dashboard-newt
---
extends shared/_layout

block sidebar
  include ./components/_sidebar

block content
  div.body.body--start(class!= pageClassName)

    include ./components/dashboard/_additional-info


