---
title: CoSo Insights Portal - Dashboard Ticket System

pageClassName: p-dashboard
pageSubClassName: p-dashboard-system
---
extends shared/_layout

block sidebar
  include ./components/_sidebar

block content
  div.body.body--start(class!= pageClassName)

    include ./components/dashboard/_additional-info
    include ./components/dashboard/_ticket-activity
    include ./components/dashboard/_all-tickets
    include ./components/dashboard/_tickets-find
    include ./components/dashboard/_tickets-table