---
title: CoSo Insights Portal - Dashboard Ticket System

pageClassName: p-dashboard
---
extends shared/_layout

block sidebar
  include ./components/_sidebar

block content
  div.body(class!= pageClassName)
