---
title: CoSo Insights Portal

pageClassName: p-home
pageUniq: p-login
---
extends shared/_layout

block header

block content
  div.body(class!= pageClassName)

    include ./components/homepage/_login

block footer
