// HEADER :: START

.header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgb(220, 220, 220);
  background-color: $c-white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);

  p {
    margin: 0;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    height: 125px;
    @include adaptive(1439) {
      height: 65px;
    }

    &-left {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 379px;
      height: 100%;
      padding-left: 15px;
      padding-right: 15px;
      @include transition(width);
      @include adaptive(1439) {
        width: 125px;
      }
      @include adaptive(1365) {
        width: 65px;
      }
      @include adaptive(767) {
        z-index: 10;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        width: 250px;
        padding-left: 50px;
        background-color: #fff;
        border-right: 1px solid #e6e1e1;
        @include transition(transform);
      }

      .is-collapsed & {
        width: 125px;
        @include transition(width);
        @include adaptive(1365) {
          width: 65px;
        }
        @include adaptive(767) {
          width: 250px;
          transform: translateX(0);
          @include transition(transform);
        }
      }

      > a {
        display: none;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        border: 1px solid #00a8de;
        color: #00a8de;
        font-size: 16px;
        @include transition(opacity);
        @include adaptive(767) {
          display: flex;
        }

        &:hover {
          opacity: 0.75;
          color: #4e4e4e;
          text-decoration: none;
          @include transition(opacity);
        }
      }
    }

    &-middle {
      display: flex;
      align-items: center;
      width: 100%;
      max-width: calc(100% - (379px + 353px));
      border-left: 1px solid #e6e1e1;
      border-right: 1px solid #e6e1e1;
      @include transition(max-width);
      @include adaptive(1439) {
        max-width: calc(100% - (125px + 353px));
      }
      @include adaptive(1365) {
        max-width: calc(100% - (62px + 353px));
      }
      @include adaptive(1199) {
        max-width: calc(100% - (62px + 280px));
      }
      @include adaptive(767) {
        max-width: 100%;
        border: none
      }

      .is-collapsed & {
        @include respond(wide-medium) {
          max-width: calc(100% - (125px + 353px));
          @include transition(max-width);
        }
      }

      > div {
        &:nth-of-type(1) {
          width: 200px;
          border-right: 1px solid #e6e1e1;
          @include adaptive(1365) {
            width: 62px;
          }
        }

        &:nth-of-type(2) {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          max-width: calc(100% - 200px);
          padding-left: 25px;
          padding-right: 25px;
          @include adaptive(1365) {
            max-width: calc(100% - 62px);
          }
          @include adaptive(1199) {
            padding-left: 15px;
            padding-right: 15px;
          }
        }
      }
    }

    &-right {
      display: flex;
      align-items: center;
      width: 353px;
      padding-left: 25px;
      padding-right: 15px;
      @include adaptive(1199) {
        width: 280px;
        padding-left: 15px;
      }
      @include adaptive(767) {
        display: none;
      }
    }
  }


  &__collapse {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    @include adaptive(1439) {
      height: 65px;
    }

    &:hover {
      text-decoration: none;
    }

    div {
      position: relative;
      width: 32px;
      height: 22px;

      i {
        overflow: hidden;
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #a7a3a3;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 11px;
          height: 100%;
          background-color: #4e4e4e;
          @include transition(width);
          @include adaptive(1439) {
            width: 100%;
          }

          .is-collapsed & {
            width: 100%;
            @include transition(width);
            @include adaptive(1439) {
              width: 11px;
            }
          }
          .is-collapsed-hover & {
            width: 11px;
          }
        }

        &:nth-of-type(1) {
          top: 0;
        }

        &:nth-of-type(2) {
          top: 50%;
          transform: translateY(-50%);
        }

        &:nth-of-type(3) {
          bottom: 0;
        }
      }
    }

    span {
      padding-left: 18px;
      color: #4e4e4e;
      font-size: 24px;
      @include adaptive(1365) {
        display: none;
      }
    }
  }

  &__search {
    display: flex;
    width: 100%;
    max-width: calc(100% - 240px);
    @include adaptive(1199) {
      max-width: 100%;
    }

    form {
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;
      height: 40px;

      span.uk-search-icon {
        width: 58px;
        @include adaptive(1199) {
          width: 44px;
        }

        svg {
          width: 29px;
          height: 29px;
        }
      }

      input.uk-search-input {
        height: 40px;
        padding-left: 58px !important;
        padding-right: 15px;
        @include fluid(font-size, 320px, 767px, 20px, 24px);
        @include inputPlaceholder {
          color: #4e4e4e;
          @include fluid(font-size, 320px, 767px, 20px, 24px);
        }
        @include adaptive(1199) {
          padding-left: 44px !important;
        }
        @include adaptive(767) {
          padding-right: 0;
        }
      }
    }
  }

  &__date {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 240px;
    @include adaptive(1199) {
      display: none;
    }

    p {
      font-size: 18px;
    }

    > span {
      width: 1px;
      height: 43px;
      margin-left: 22px;
      margin-right: 22px;
      background-color: #e6e1e1;
      @include adaptive(1199) {
        margin-left: 15px;
        margin-right: 15px;
      }
    }
  }

  &__dCenter {
    display: flex;
    align-items: center;

    p {
      font-size: 18px;
      padding-right: 9px;
    }

    div {
      display: flex;
      align-items: center;

      a {
        display: flex;
        align-items: flex-start;
        margin-right: 7px;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}

// HEADER :: END