// HEADER :: START

.sidebar {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 379px;
  height: 100%;
  padding-top: 125px;
  background-color: #4e4e4e;
  box-shadow: inset 0 6px 38px 0 rgba(0, 0, 0, 0.15);
  border-right: 1px solid rgb(207, 207, 207);
  @include transition(width);
  @include adaptive(1599) {
    width: 125px;
    padding-top: 65px;
  }
  @include adaptive(1365) {
    width: 65px;
  }
  @include adaptive(767) {
    width: 250px;
    transform: translateX(-100%);
    @include transition(transform);
  }

  .is-collapsed & {
    width: 125px;
    @include transition(width);
    @include adaptive(1599) {
      width: (125px + 200px);
    }
    @include adaptive(1365) {
      width: 300px;
    }
    @include adaptive(767) {
      width: 250px;
      transform: translateX(0);
      @include transition(transform);
    }
  }

  .is-collapsed-hover & {
    width: 379px;
    @include adaptive(1599) {
      width: (125px + 200px);
    }
    @include adaptive(1365) {
      width: 300px;
    }
    @include adaptive(767) {
      width: 250px;
    }
  }

  // wrapper
  &__wrapper {
    position: relative;
    overflow-y: auto;
    height: calc(100vh - 125px);
    @include adaptive(1599) {
      height: calc(100vh - 65px);
    }
  }
  // wrapper :: end

  // profile
  &__profile {
    display: flex;
    align-items: center;
    height: 215px;
    border-bottom: 1px solid rgba(#b1b0b0, 0.3);
    @include adaptive(1365) {
      flex-direction: column;
      justify-content: center;
      height: auto;
      min-height: 190px;
      padding-top: 30px;
      padding-bottom: 30px;
    }

    &-left {
      width: 155px;
      padding-left: 35px;
      @include transition(padding-left);
      @include adaptive(1599) {
        width: 115px;
        padding-left: 20px;
      }
      @include adaptive(1365) {
        width: 100%;
        padding-left: 0;
      }

      .is-collapsed & {
        padding-left: 15px;
        @include transition(padding-left);
        @include adaptive(1365) {
          padding-left: 0;
        }
      }

      .is-collapsed-hover & {
        padding-left: 35px;
        @include adaptive(1599) {
          padding-left: 15px;
        }
        @include adaptive(1365) {
          width: 100%;
          padding-left: 0;
        }
      }
    }

    &-right {
      width: 100%;
      max-width: calc(100% - 155px);
      @include adaptive(1599) {
        max-width: calc(100% - 115px);
      }
      @include adaptive(1365) {
        max-width: 100%;
        text-align: center;
      }
    }

    &-img {
      overflow: hidden;
      position: relative;
      width: 95px;
      height: 95px;
      border-radius: 100%;
      border: 1px solid #fff;
      @include transition(width, height);
      @include adaptive(1599) {
        width: 85px;
        height: 85px;
        margin-top: 5px;
      }
      @include adaptive(1365) {
        width: 45px;
        height: 45px;
        margin-left: auto;
        margin-right: auto;
      }
      @include adaptive(767) {
        width: 85px;
        height: 85px;
      }

      .is-collapsed & {
        @include adaptive(1365) {
          width: 85px;
          height: 85px;
          @include transition(width, height);
        }
      }

      .is-collapsed-hover & {
        @include adaptive(1365) {
          width: 85px;
          height: 85px;
          @include transition(width, height);
        }
      }

      img {
        @extend %imageResCoverAbs;
      }
    }

    &-name {
      white-space: nowrap;
      margin: 0;
      color: #f7a209;
      @include fluid(font-size, 320px, 1600px, 20px, 24px);
      @extend %fontFamilyOpenSans;
      @include transition(opacity);
      @include adaptive(1599) {
        opacity: 0;
      }
      @include adaptive(767) {
        opacity: 1;
      }

      .is-collapsed & {
        opacity: 0;
        @include transition(opacity);
        @include adaptive(1599) {
          opacity: 1;
        }
      }

      .is-collapsed-hover & {
        opacity: 1;
      }
    }
  }
  // profile :: end

  // navigation
  &__navigation {
    display: flex;
    flex-direction: column;

    ul {
      margin: 0;

      li {
        margin: 0 !important;
        background-color: transparent;
        @include transition(padding-bottom, border-bottom, background-color);

        &.uk-open {
          padding-bottom: 34px;
          border-bottom: 1px solid rgba(#b1b0b0, 0.3);
          background-color: #3f3f3f;
          @include transition(padding-bottom, border-bottom, background-color);

          > .sidebar__navigation-btn {
            border-color: transparent;
            @include transition(border-color);

            div {
              span,
              p {
                color: #00a6d9;
                @include transition(color);
              }

              &:nth-of-type(3) {
                span {
                  svg {
                    transform: rotate(-180deg);
                    @include transition(transform);
                  }
                }
              }
            }
          }
        }
      }
    }

    .uk-accordion-title {
      &:before {
        display: none;
      }
    }

    .uk-accordion-content {
      display: flex;
      flex-direction: column;
      margin-top: 0;
    }

    .uk-accordion-title,
    &-btn {
      display: flex;
      align-items: center;
      @include transition(border-color, background-color);

      > div {
        &:nth-of-type(1) {
          display: flex;
          justify-content: center;
          width: 100px;
          @include transition(width);
          @include adaptive(1599) {
            width: 125px;
          }

          .is-collapsed & {
            width: 125px;
            @include transition(width);
            @include adaptive(1599) {
              width: 100px;
            }
          }

          .is-collapsed-hover & {
            width: 100px;
          }
        }

        &:nth-of-type(2) {
          width:  100%;
        }

        &:nth-of-type(3) {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 66px;
          @include transition(opacity, width);
          @include adaptive(1599) {
            opacity: 0;
            width: 0;
          }

          .is-collapsed & {
            opacity: 0;
            width: 0;
            @include transition(opacity, width);
            @include adaptive(1599) {
              opacity: 1;
              width: 66px;
            }
          }

          .is-collapsed-hover & {
            opacity: 1;
            width: 66px;
          }

          span {
            svg {
              fill: #b1b0b0;
              @include transition(transform);
            }
          }
        }
      }

      &--external {
        min-height: 84px;
        border-bottom: 1px solid rgba(#b1b0b0, 0.3);

        &:hover {
          text-decoration: none;
          background-color: #3f3f3f;
          @include transition(background-color);

          > div {
            .icon-font,
            span,
            p {
              color: #00a6d9;
              @include transition(color);
            }
          }
        }

        > div {
          &:nth-of-type(1) {
            .is-collapsed & {
              @include adaptive(1599) {
                width: 100px;
              }
            }
          }
          &:nth-of-type(2) {
            max-width: calc(100% - (100px + 66px));
          }
        }
      }

      &--internal {
        padding-top: 17px;
        padding-bottom: 17px;

        &:hover {
          text-decoration: none;

          > div {
            span,
            p {
              color: #6cd7f7;
              @include transition(color);
            }
          }
        }

        > div {
          &:nth-of-type(1) {
            .is-collapsed & {
              @include adaptive(1599) {
                width: 40px;
              }
            }

            .is-collapsed-hover & {
              @include adaptive(1599) {
                width: 40px;
              }
            }
          }
          &:nth-of-type(2) {
            max-width: calc(100% - 100px);
            @include adaptive(1599) {
              max-width: calc(100% - 40px);
            }
          }
        }

        p {
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      p {
        white-space: nowrap;
        margin: 0;
        padding-right: 15px;
        color: #b1b0b0;
        @include fluid(font-size, 320px, 1600px, 18px, 24px);
        @include transition(color, opacity);
        @include adaptive(1599) {
          opacity: 0;
        }

        .is-collapsed & {
          opacity: 0;
          @include transition(opacity);
          @include adaptive(1599) {
            opacity: 1;
          }
        }

        .is-collapsed-hover & {
          opacity: 1;
        }
      }

      .icon-font {
        color: #ffffff;
        @include transition(color);

        &.icon-account {
          font-size: 22px;
        }
        &.icon-support {
          font-size: 22px;
        }
        &.icon-monitors {
          font-size: 22px;
        }
        &.icon-reports {
          font-size: 18px;
        }
      }

      span {
        color: #ffffff;
        @include transition(color);
        &[uk-icon="thumbnails"] {
          svg {
            width: 25px;
            height: 25px;
          }
        }
        &[uk-icon="users"] {
          svg {
            width: 30px;
            height: 28px;
          }
        }
        &[uk-icon="receiver"] {
          svg {
            width: 25px;
          }
        }
        &[uk-icon="cog"] {
          svg {
            width: 24px;
            height: 24px;
          }
        }
        &[uk-icon="sign-out"] {
          svg {
            width: 23px;
            height: 25px;
          }
        }
        &[uk-icon="world"] {
          svg {
            width: 25px;
            height: 25px;
          }
        }
        &[uk-icon="file-text"] {
          svg {
            width: 26px;
          }
        }
      }
    }
  }
  // navigation :: end
}

// HEADER :: END