// STYLE :: START

if(env)
  link(rel="stylesheet" href="css/bundle.min.css")
else
  link(rel="stylesheet" href="css/vendor.css")
  link(rel="stylesheet" href="css/app.css")

link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css")

// STYLE :: END