.icon-CH {
  width:(397.64)*1px;
  height:(512)*1px;
}
.icon-UK {
  width:(397.64)*1px;
  height:(512)*1px;
}
.icon-US {
  width:(397.64)*1px;
  height:(512)*1px;
}
.icon-USe {
  width:(397.64)*1px;
  height:(512)*1px;
}
