.icon-CH {
  width:(397.64)*1px;
  height:(512)*1px;
}
.icon-UK {
  width:(397.64)*1px;
  height:(512)*1px;
}
.icon-US {
  width:(397.64)*1px;
  height:(512)*1px;
}
.icon-USe {
  width:(397.64)*1px;
  height:(512)*1px;
}
.icon-calendar {
  width:(477.33)*1px;
  height:(488.15)*1px;
}
.icon-cog-install {
  width:(26)*1px;
  height:(25.93)*1px;
}
.icon-view-state-0 {
  width:(24)*1px;
  height:(24)*1px;
}
.icon-view-state-1 {
  width:(24)*1px;
  height:(24)*1px;
}
